
.details_area {

    background-color: var(--background-color);
    flex-grow: 1;
    padding: 15px 30px;
}

.externalBorderRadiusNavbar li{
    
    text-decoration: none;
    list-style: none;
    padding: 15px;
    cursor: pointer;
    margin: 25px 0;
    border-radius: 100vw 0 0 100vw ;
    position: relative;

}

.externalBorderRadiusNavbar li:hover{

    background-color: var(--background-color); 

}

.externalBorderRadiusNavbar li.active{

    background-color: var(--background-color); 
    view-transition-name: activeNavTab;
    
}

.externalBorderRadiusNavbar li.active::before,
.externalBorderRadiusNavbar li.active::after {
    content: '';
    border-radius: 0 0 100% 0;
    width: calc(var(--borderRadius));
    height: calc(var(--borderRadius));
    position: absolute;
    bottom: 100%;
    right: 0;
    box-shadow: 5px 5px 0 5px var(--background-color);
}

.externalBorderRadiusNavbar li.active::after {
    border-radius: 0 100% 0 0;
    top: 100%;
    box-shadow: 5px -5px 0 5px var(--background-color);
}

.nav_area {

    background-color: var(--menu_bg_color);
    margin-right: -1px
}

.nav_section {
    display: flex;
    border: 1px solid black;

    --borderRadius: 10px;
    --background-color:salmon;
    --menu_bg_color :lightpink;
    
}