.externalBR {

    --borderRadius: 10px;
    --background-color: salmon;
    position: relative;
    padding: 15px;

    background-color: var(--background-color); 
    border-radius: var(--borderRadius) 0 0 var(--borderRadius) ;
    
}

.externalBR ::before {
    content: '';
    border-radius: 0 0 100% 0;
    width: calc(var(--borderRadius));
    height: calc(var(--borderRadius));
    position: absolute;

    bottom: 100%;
    right: 0;
    box-shadow: 5px 5px 0 5px var(--background-color);
}